@keyframes section-heading-in {
  0% {
    opacity: 0;
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes section-heading-hash-in {
  0% {
    opacity: 0;
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes section-description-in {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
