<footer class="w-full text-center mt-24 mb-2 px-2 xs:px-8">
  <p>
    Made by <a
      href="/"
      aria-label={`Points to this page`}
      class="cursor-pointer text-blue-300">me</a
    >. Built with

    <a
      href="https://astro.build/"
      rel="noopener noreferrer"
      target="_blank"
      aria-label={`Astro (opens in a new tab)`}
      class="cursor-pointer text-blue-300"
    >
      Astro
    </a> and
    <a
      href="https://www.solidjs.com/"
      rel="noopener noreferrer"
      target="_blank"
      aria-label={`Solidjs (opens in a new tab)`}
      class="cursor-pointer text-blue-300"
    >
      Solidjs
    </a> styled with
    <a
      href="https://tailwindcss.com/"
      rel="noopener noreferrer"
      target="_blank"
      aria-label={`TailwindCSS (opens in a new tab)`}
      class="cursor-pointer text-blue-300"
    >
      TailwindCSS,
    </a> deployed on
    <a
      href="https://vercel.com/"
      rel="noopener noreferrer"
      target="_blank"
      aria-label={`Vercel (opens in a new tab)`}
      class="cursor-pointer text-blue-300">Vercel.</a
    >
  </p>
</footer>
