---
import Project from "./project.astro";
import { GITHUB_HREF } from "@constants";
import ProjectsList from "./projectsList";
import Section from "@modules/section/section";
import Button from "@common/button.astro";
import clsx from "clsx";
import GithubIcon from "@common/icons/githubIcon";

const projects = await Astro.glob("./content/*.md");
---

<Section
  id="projects"
  title="Projects"
  description="Some of my projects"
  className="wrapper grid gap-2 justify-center justify-items-center"
  client:load
>
  <ProjectsList client:load>
    {
      projects.map((p, i) => (
        <Project project={p as any} imgPos={i % 2 === 0 ? "left" : "right"} />
      ))
    }
  </ProjectsList>

  <!-- <Button -->
  <!--   href={GITHUB_HREF + "?tab=repositories"} -->
  <!--   class="github-link mt-12 opacity-0"></Button -->
  <!-- > -->

  <Button
    href={GITHUB_HREF}
    ariaLabel={`Link to my github`}
    class={"github-link mt-12 opacity-0 flex items-center"}
  >
    <span>Find more of my projects on </span>
    <GithubIcon className="w-5 h-5 fill-dark-text ml-1.5" />
  </Button>
</Section>

<style>
  @media (prefers-reduced-motion: no-preference) {
    .wrapper.show .github-link {
      @apply animate-fade-in-bottom-m;
    }
  }
</style>
