---
import Tile from "@common/Tile.astro";

interface Props {
  title: string;

  href?: string;
  linkLabel: string;

  gridArea?: string;
}

const { gridArea, title, href, linkLabel } = Astro.props;

const El = href ? "a" : "div";
---

<Tile gridArea={gridArea} class="p-0 max-xs:aspect-square xs:py-4">
  <El
    href={href}
    rel="noopener noreferrer"
    target="_blank"
    aria-label={linkLabel}
    class:list={{
      "size-full flex flex-col justify-center items-center": true,
      "cursor-pointer": !!href
    }}
  >
    <slot />
    <h2 class="hidden xs:block text-sm sm:text-base sm:font-medium mt-2">
      {title}
    </h2>
  </El>
</Tile>
