---
import { Particles } from "./particles";
---

<section class="bg-shark-600 h-[800px] skew-y-12">
  <div class='-skew-y-12'>
    <Particles />

    <h2 class="text-white text-3xl relative">This is a paragraph</h2>
  </div>
</section>
