---
import Layout from "../layouts/Layout.astro";
import Hero from "@modules/hero/hero.astro";
---

<Layout title="Maksymilian Kasperowicz">
  <main>
    <Hero />
    <!-- <AboutMe /> -->
    <!-- <Experience /> -->
  </main>
</Layout>

<style></style>
