---
import Layout from "../layouts/Layout.astro";
import {AnimTextPopIn } from "../common/animatedText";
---

<Layout title="Maksymilian Kasperowicz">
  <main class="grid place-items-center w-screen h-screen text-white fluid-text-7xl-9xl">
  <AnimTextPopIn text="｡◕‿‿◕｡" delay={1} duration={1} />
  </main>
</Layout>

<style></style>
