---
import Tile from "@common/Tile.astro";
---

<Tile
  title="About me"
  gridArea="about"
  class="flex-col text-sm xs:text-base space-y-2"
>
  <p>
    I'm Maksymilian Kasperowicz, a full-stack developer from Poland. I have a
    passion for building highly interactive applications, whether they're useful
    tools or just for fun pet projects.
  </p>
  <p>
    My programming journey began with Java, then quickly moved to C++ and SDL as
    I explored game development. In high school, I was introduced to React and
    web development in general, and it has been my focus ever since.
  </p>

  <p>
    Recently, I’ve been expanding my horizons with Go and Zig, enjoying
    recreational programming.
  </p>

  <p>
    Outside of programming, I love reading sci-fi, dystopian, and fantasy
    genres. I enjoy both coffee and tea (without milk of course).
  </p>
</Tile>
