---
import GithubIcon from "@common/icons/githubIcon";
import LinkedInIcon from "@common/icons/linkedInIcon";
import SurpriseText from "@common/surpriseText";
import ScrollDownBtn from "./scrollDownBtn";
import { GITHUB_HREF, LINKEDIN_HREF, WINDOW_CONTENT_DELAY } from "@constants";
import Anchor from "@common/anchor.astro";
---

<section
  id="index"
  class="flex flex-col justify-center items-center text-center h-[var(--window-content-height)]"
>
  <h2
    class="mt-auto motion-safe:animate-fade-in-top-m motion-safe:opacity-0 fluid-text-2xl-4xl"
    style={`animation-delay: ${WINDOW_CONTENT_DELAY + 100}ms;`}
  >
    <SurpriseText
      text={{ value: "Hello There" }}
      btnClassName="font-semibold"
      surpriseText={{ value: "General Kenobi", className: "text-accent" }}
      client:idle
    />
  </h2>
  <h1
    class="motion-safe:animate-fade-in-top-m motion-safe:opacity-0 fluid-text-lg-4xl"
    style={`animation-delay: ${WINDOW_CONTENT_DELAY}ms;`}
  >
    My name’s
    <span class="text-accent font-medium">Maksymilian Kasperowicz</span>
    <br />
    but you can call me
    <SurpriseText
      text={{ value: "Max" }}
      btnStyle={{ minWidth: "2ch" }}
      btnClassName="font-semibold text-accent"
      surpriseText={{ value: "👋 Hi!", className: "text-base md:text-3xl" }}
      client:idle
    />
  </h1>
  <p
    class="motion-safe:animate-fade-in-top-m motion-safe:opacity-0 fluid-text-sm-2xl max-w-[90%] md:max-w-3xl"
    style={`animation-delay: ${WINDOW_CONTENT_DELAY + 200}ms;`}
  >
    I’m a web developer from Poland that enjoys creating applications that find
    use in the everyday lives of other people
  </p>

  <div
    class="grid grid-flow-col gap-4 mt-4 motion-safe:animate-fade-in-bottom-m motion-safe:opacity-0 mb-auto"
    style={`animation-delay: ${WINDOW_CONTENT_DELAY + 200}ms;`}
  >
    <Anchor
      href={GITHUB_HREF}
      class="fill-dark-text hover:fill-accent cursor-pointer transition-colors"
      aria-label="Github link"
    >
      <GithubIcon className="w-6 h-6 sm:w-8 sm:h-8 fill-inherit" />
    </Anchor>
    <Anchor
      href={LINKEDIN_HREF}
      aria-label="Linkedin link"
      class="fill-dark-text hover:fill-accent cursor-pointer transition-colors"
    >
      <LinkedInIcon className="w-6 h-6 sm:w-8 sm:h-8 fill-inherit" />
    </Anchor>
  </div>

  <ScrollDownBtn client:load />
</section>
