@import "@unocss/reset/tailwind-v4.css";
@import "./animations";

:root {
  --content-width: 100vw;
}

@media screen and (min-width: 545px) {
  :root {
    --content-width: 95vw;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --content-width: 720px;
  }
}

html,
body {
  font-family: var(--font-primary);
  background-color: var(--colors-base-DEFAULT);
  color: var(--colors-primary-DEFAULT);

  margin: 0;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

.prefix-comment {
  --uno: whitespace-pre text-secondary-300;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colors-base-DEFAULT);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colors-secondary-300);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colors-secondary-200);
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

dialog {
  border: none !important;
  background: none !important;
  padding: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

