<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Css icon</title>
  <path
    fill="#0277BD"
    d="M12.25 0h-8.5A3.75 3.75 0 0 0 0 3.75v8.5A3.75 3.75 0 0 0 3.75 16h8.5A3.75 3.75 0 0 0 16 12.25v-8.5A3.75 3.75 0 0 0 12.25 0"
  />
  <path
    fill="#EBEBEB"
    d="m3.36 6.416.178 1.996h4.468V6.416zm4.646-4.041H3l.182 1.996h4.824zm0 11.303V11.6l-.009.003-2.223-.6-.142-1.593H3.628l.28 3.135 4.089 1.135z"
  />
  <path
    fill="#fff"
    d="m10.457 8.412-.231 2.59-2.227.6v2.077l4.093-1.134.03-.337.469-5.256.049-.536.36-4.041H7.999v1.996h2.813l-.181 2.045H7.999v1.996z"
  />
</svg>
