---
interface Props {
  width?: string | number;
  height?: string | number;
}

const { width = "24", height } = Astro.props;
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  width={width}
  height={height}
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Cv icon</title>
  <path
    fill="#fff"
    d="M1.714 0C.768 0 0 .768 0 1.714v12.572C0 15.232.768 16 1.714 16h12.572c.946 0 1.714-.768 1.714-1.714V1.714C16 .768 15.232 0 14.286 0zm3.532 4.758c.701 0 1.324.243 1.783.606.424.338.623.676.796.979l-1.211.605a1.55 1.55 0 0 0-.46-.631 1.32 1.32 0 0 0-.84-.303c-.986 0-1.505.917-1.505 1.938 0 1.342.684 2.008 1.506 2.008.796 0 1.117-.554 1.324-.908l1.204.614c-.226.355-.442.702-.927 1.039a3 3 0 0 1-1.705.537c-1.619 0-2.925-1.177-2.925-3.247 0-1.808 1.229-3.237 2.96-3.237m2.696.19h1.627l1.263 4.346 1.255-4.345h1.627l-2.12 6.11h-1.558z"
  ></path>
</svg>
