<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Expressjs icon</title>
  <path
    fill="#F4F2ED"
    d="M12.25 0h-8.5A3.75 3.75 0 0 0 0 3.75v8.5A3.75 3.75 0 0 0 3.75 16h8.5A3.75 3.75 0 0 0 16 12.25v-8.5A3.75 3.75 0 0 0 12.25 0"
  />
  <path
    fill="#0F0F0F"
    d="M14.25 11.434a.796.796 0 0 1-.987-.376c-.566-.848-1.192-1.657-1.793-2.484l-.26-.348c-.717.96-1.433 1.88-2.086 2.836a.764.764 0 0 1-.938.368l2.686-3.604L8.374 4.57a.83.83 0 0 1 .99.348c.58.848 1.223 1.657 1.863 2.516.643-.852 1.278-1.665 1.873-2.506a.747.747 0 0 1 .931-.347l-.97 1.285c-.434.574-.861 1.15-1.313 1.71a.347.347 0 0 0 0 .518c.83 1.102 1.654 2.207 2.502 3.34M1.75 7.78c.073-.347.118-.726.219-1.08.601-2.138 3.051-3.027 4.736-1.703.987.775 1.234 1.873 1.186 3.11H2.33c-.091 2.21 1.504 3.545 3.544 2.864A2.12 2.12 0 0 0 7.22 9.474c.108-.348.281-.407.611-.306a2.82 2.82 0 0 1-1.348 2.06 3.27 3.27 0 0 1-3.805-.486 3.42 3.42 0 0 1-.855-2.009c0-.118-.045-.236-.07-.347zm.587-.15h5.029c-.031-1.6-1.043-2.736-2.391-2.746-1.501-.021-2.575 1.09-2.641 2.741z"
  />
</svg>
