---
interface Props {
  width?: string | number;
  height?: string | number;
}

const { width = "24", height } = Astro.props;
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  width={width}
  height={height}
  fill="none"
  viewBox="0 0 24 24"
>
  <title>Github icon</title>
  <path
    fill="#fff"
    d="M12 0C5.373 0 0 5.513 0 12.305 0 17.743 3.44 22.35 8.207 23.98a1 1 0 0 0 .204.021c.444 0 .616-.327.616-.61 0-.295-.01-1.067-.016-2.095a5.5 5.5 0 0 1-1.211.144c-2.309 0-2.834-1.794-2.834-1.794-.546-1.42-1.334-1.8-1.334-1.8-1.045-.734-.005-.756.075-.756h.006c1.205.107 1.837 1.275 1.837 1.275.6 1.05 1.404 1.345 2.121 1.345.475-.01.942-.12 1.372-.322.107-.792.418-1.333.76-1.644-2.662-.31-5.464-1.366-5.464-6.08 0-1.345.466-2.443 1.232-3.3-.123-.311-.535-1.565.118-3.258a1 1 0 0 1 .268-.026c.434 0 1.414.166 3.032 1.29 1.966-.55 4.045-.55 6.011 0 1.618-1.124 2.598-1.29 3.032-1.29q.136-.006.268.026c.654 1.693.241 2.947.118 3.258.766.862 1.232 1.96 1.232 3.3 0 4.724-2.807 5.764-5.48 6.07.428.38.814 1.13.814 2.276 0 1.645-.016 2.973-.016 3.375 0 .29.166.616.61.616q.108 0 .215-.021C20.566 22.35 24 17.738 24 12.305 24 5.513 18.627 0 12 0"
  ></path>
</svg>
