<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Git icon</title>
  <path
    fill="#F34F29"
    d="M15.592 7.297 8.702.408a1.016 1.016 0 0 0-1.436 0l-1.431 1.43L7.65 3.655a1.207 1.207 0 0 1 1.528 1.538l1.749 1.749a1.207 1.207 0 0 1 1.25 1.997 1.21 1.21 0 0 1-1.974-1.315L8.572 5.992v4.292q.178.088.32.229a1.21 1.21 0 1 1-1.315-.264V5.917a1.21 1.21 0 0 1-.656-1.586L5.132 2.54.408 7.266a1.017 1.017 0 0 0 0 1.438l6.89 6.89c.396.396 1.04.396 1.437 0l6.857-6.858a1.017 1.017 0 0 0 0-1.438"
  />
</svg>
