<!-- <svg --><!--   xmlns="http://www.w3.org/2000/svg" --><!--   width="32" --><!--   height="auto" --><!--   fill="none" --><!--   viewBox="0 0 43 16" --><!-- > --><!--   <title>Go icon</title> --><!--   <path --><!--     fill="#00ACD7" --><!--     d="m24.378 1.108.093.062c1.101.727 1.89 1.725 2.41 2.93.125.186.042.29-.208.353l-.421.108c-.954.245-1.711.452-2.653.698l-.537.14c-.193.047-.246.027-.452-.207l-.029-.033c-.293-.332-.513-.554-.901-.753l-.075-.036c-1.31-.644-2.576-.457-3.76.311-1.413.914-2.14 2.265-2.12 3.947.021 1.662 1.164 3.033 2.805 3.262 1.413.187 2.597-.312 3.532-1.371.187-.229.353-.478.56-.769h-4.009c-.436 0-.54-.27-.394-.623l.072-.17c.267-.62.68-1.514.95-2.024l.058-.11a.55.55 0 0 1 .498-.293h6.686c.3-.951.787-1.85 1.437-2.7C29.436 1.834 31.265.795 33.737.36c2.118-.374 4.113-.166 5.92 1.06 1.641 1.121 2.66 2.638 2.93 4.632.352 2.805-.458 5.09-2.39 7.043-1.37 1.391-3.053 2.264-4.986 2.659-.56.104-1.121.124-1.661.187-1.89-.042-3.615-.582-5.07-1.828-1.022-.885-1.726-1.971-2.076-3.236a9 9 0 0 1-.873 1.407c-1.496 1.974-3.448 3.2-5.92 3.532-2.036.27-3.927-.125-5.589-1.371-1.537-1.164-2.41-2.7-2.638-4.612-.27-2.264.395-4.3 1.766-6.087C14.625 1.814 16.578.59 18.967.153c1.916-.347 3.753-.133 5.41.955m9.883 2.977-.066.015c-1.932.436-3.179 1.661-3.636 3.614-.374 1.62.416 3.262 1.911 3.926 1.143.499 2.285.437 3.386-.124 1.642-.852 2.535-2.182 2.639-3.968-.021-.27-.021-.478-.063-.686-.37-2.033-2.222-3.193-4.171-2.777M9.701 7.88c.083 0 .125.063.125.146l-.042.498c0 .083-.083.146-.145.146L5.11 8.649c-.083 0-.104-.062-.062-.125l.29-.519c.042-.062.125-.125.209-.125zm.457-1.91c.083 0 .125.061.104.124l-.166.498c-.02.083-.104.125-.187.125l-9.826.02c-.083 0-.104-.04-.062-.103l.436-.56c.042-.063.145-.105.228-.105zm1.08-1.912c.084 0 .104.062.063.125l-.353.54c-.042.062-.146.124-.208.124l-7.52-.02c-.083 0-.104-.042-.062-.104l.436-.561c.041-.062.145-.104.228-.104z" --><!--   /> --><!-- </svg> -->

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="11"
  height="14"
  fill="none"
  viewBox="0 0 11 14"
>
  <title>Golang icon</title>
  <path
    fill="#F6D2A2"
    fill-rule="evenodd"
    d="M.139 7.575c.02.413.432.222.619.093.178-.123.23-.02.245-.263a4 4 0 0 0 .02-.477 1.17 1.17 0 0 0-.78.2c-.114.082-.326.345-.104.45"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M.353 7.866a.25.25 0 0 1-.118-.026A.27.27 0 0 1 .1 7.6a.18.18 0 0 1-.1-.142.5.5 0 0 1 .216-.364 1.2 1.2 0 0 1 .807-.206l.034.003v.034a3 3 0 0 1-.012.373l-.008.11c-.011.171-.043.197-.131.228a.5.5 0 0 0-.131.064.9.9 0 0 1-.422.166m.555-.904a1.1 1.1 0 0 0-.643.197c-.081.059-.193.197-.184.292a.11.11 0 0 0 .074.089l.021.01v.023q.008.155.093.197c.108.054.312-.029.465-.134a.6.6 0 0 1 .15-.075c.058-.02.07-.024.079-.159q.002-.054.008-.11a3 3 0 0 0 .013-.328z"
  />
  <path
    fill="#C6B198"
    fill-rule="evenodd"
    d="M.139 7.575a.33.33 0 0 0 .164-.093Z"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M.139 7.615a.04.04 0 0 1-.014-.077l.026-.009a.24.24 0 0 0 .132-.082.04.04 0 0 1 .052.06.3.3 0 0 1-.157.096l-.025.009z"
  />
  <path
    fill="#6AD7E5"
    fill-rule="evenodd"
    d="M1.092 2.655C-.49 2.21.686.2 1.956 1.026z"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="m1.112 2.7-.03-.009a.965.965 0 0 1-.782-.75A1.05 1.05 0 0 1 .79.953a1.06 1.06 0 0 1 1.189.04l.03.02zM1.336.867a.93.93 0 0 0-.505.15.97.97 0 0 0-.453.912.88.88 0 0 0 .694.679l.833-1.568a1.1 1.1 0 0 0-.568-.172z"
  />
  <path
    fill="#6AD7E5"
    fill-rule="evenodd"
    d="M8.117.875c1.25-.879 2.382 1.105.928 1.604z"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M9.028 2.526 8.065.864l.03-.021A1.035 1.035 0 0 1 9.242.747a1.06 1.06 0 0 1 .522.982.94.94 0 0 1-.707.786zM8.169.886l.894 1.544a.86.86 0 0 0 .623-.709.98.98 0 0 0-.483-.907.93.93 0 0 0-1.033.073"
  />
  <path
    fill="#F6D2A2"
    fill-rule="evenodd"
    d="M8.387 12.659c.317.196.9.791.422 1.08-.458.419-.715-.461-1.117-.583a1.12 1.12 0 0 1 .694-.498"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M8.567 13.89h-.019c-.18-.01-.33-.187-.476-.357a1 1 0 0 0-.392-.338l-.053-.017.033-.045a1.16 1.16 0 0 1 .72-.512h.015l.013.007c.203.126.623.494.621.827a.37.37 0 0 1-.197.318.4.4 0 0 1-.265.117m-.812-.75q.223.134.378.344c.14.165.273.321.42.33a.3.3 0 0 0 .228-.1l.006-.005a.29.29 0 0 0 .162-.252c0-.267-.335-.6-.572-.75a1.03 1.03 0 0 0-.623.431z"
  />
  <path
    fill="#000"
    d="M8.809 13.778a.04.04 0 0 1-.035-.021 2 2 0 0 1-.062-.15.65.65 0 0 0-.143-.26.04.04 0 0 1 .054-.056.7.7 0 0 1 .163.288q.025.072.058.14a.04.04 0 0 1-.018.054z"
  />
  <path
    fill="#F6D2A2"
    fill-rule="evenodd"
    d="M2.707 13.331c-.373.058-.583.395-.894.566-.293.175-.405-.056-.431-.104-.046-.02-.042.02-.113-.05-.274-.43.282-.743.571-.957.403-.082.655.268.867.545"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M1.615 14a.3.3 0 0 1-.071-.009.32.32 0 0 1-.19-.165h-.009c-.033 0-.057-.007-.107-.056l-.005-.007c-.262-.413.184-.726.478-.934q.056-.038.104-.074l.007-.005h.008c.415-.084.677.259.887.534l.06.078-.066.01c-.21.05-.403.16-.552.317q-.152.139-.329.244a.43.43 0 0 1-.216.067m-.264-.253a.1.1 0 0 1 .046.01l.012.006.01.018a.25.25 0 0 0 .145.134.3.3 0 0 0 .228-.05q.17-.102.317-.236a1.3 1.3 0 0 1 .528-.322c-.2-.263-.431-.546-.781-.481l-.1.07c-.3.211-.676.475-.46.823.031.032.039.031.045.031z"
  />
  <path
    fill="#000"
    d="M1.381 13.833h-.004a.04.04 0 0 1-.036-.043.6.6 0 0 1 .127-.286q.047-.066.083-.138a.04.04 0 0 1 .05-.018.04.04 0 0 1 .022.05 1 1 0 0 1-.09.15.54.54 0 0 0-.112.25.04.04 0 0 1-.04.034"
  />
  <path
    fill="#000"
    fill-rule="evenodd"
    d="M1.158 2.1C.95 1.99.797 1.84.924 1.6c.118-.224.338-.2.546-.089zm7.558-.211c.208-.11.361-.26.234-.5-.118-.224-.338-.2-.546-.089z"
    clip-rule="evenodd"
  />
  <path
    fill="#F6D2A2"
    fill-rule="evenodd"
    d="M10.152 7.523c-.02.413-.433.222-.62.093-.178-.122-.23-.02-.245-.262a4 4 0 0 1-.02-.478 1.17 1.17 0 0 1 .78.2c.114.083.326.345.104.45"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M9.937 7.814a.9.9 0 0 1-.427-.166.5.5 0 0 0-.13-.064c-.089-.031-.121-.057-.132-.228q-.002-.055-.008-.11a3 3 0 0 1-.011-.373v-.034l.034-.003a1.2 1.2 0 0 1 .806.207.5.5 0 0 1 .216.363.18.18 0 0 1-.1.142.27.27 0 0 1-.135.24.25.25 0 0 1-.113.026m-.631-.9q-.003.165.013.329l.007.11c.009.134.021.138.079.159a.6.6 0 0 1 .15.074c.153.105.357.188.466.134q.084-.042.092-.197V7.5l.021-.01a.11.11 0 0 0 .074-.089c.009-.095-.103-.233-.184-.292a1.1 1.1 0 0 0-.718-.197z"
  />
  <path
    fill="#C6B198"
    fill-rule="evenodd"
    d="M10.152 7.523a.33.33 0 0 1-.165-.092Z"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M10.152 7.562h-.014l-.025-.009a.3.3 0 0 1-.157-.096.04.04 0 1 1 .063-.047.24.24 0 0 0 .12.069l.027.01a.04.04 0 0 1 .02.017q.005.012.003.026a.04.04 0 0 1-.037.032z"
  />
  <path
    fill="#6AD7E5"
    fill-rule="evenodd"
    d="M4.987.04c1.582 0 3.066.226 3.84 1.747.694 1.705.447 3.543.553 5.345.091 1.547.293 3.334-.425 4.768-.755 1.508-2.641 1.887-4.195 1.832-1.221-.044-2.696-.442-3.385-1.558-.808-1.308-.425-3.254-.367-4.71.07-1.725-.467-3.456.1-5.143C1.696.571 3.281.175 4.987.039"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M5.03 13.775q-.15.001-.272-.005c-.75-.027-2.587-.234-3.416-1.576-.654-1.058-.537-2.52-.435-3.811.026-.324.05-.631.063-.921a15 15 0 0 0-.08-1.833 8.1 8.1 0 0 1 .18-3.321A2.9 2.9 0 0 1 2.61.538 6.5 6.5 0 0 1 4.984 0h.003c1.545 0 3.085.215 3.875 1.769v.003a10.3 10.3 0 0 1 .522 3.881c.002.485.005.986.034 1.476q.013.225.029.45c.092 1.42.196 3.031-.458 4.337-.815 1.63-2.87 1.859-3.959 1.859M4.988.079c-1.647.13-3.25.494-3.844 2.254a8.05 8.05 0 0 0-.176 3.289 15 15 0 0 1 .077 1.843c-.012.292-.036.6-.062.925-.1 1.278-.217 2.727.423 3.763.809 1.31 2.614 1.513 3.353 1.539.96.034 3.289-.074 4.159-1.81.644-1.287.54-2.886.45-4.296l-.029-.45a27 27 0 0 1-.034-1.48 10.2 10.2 0 0 0-.515-3.85C8.02.288 6.508.079 4.988.079"
  />
  <path
    fill="#fff"
    fill-rule="evenodd"
    d="M5.266 2.165c.284 1.65 2.985 1.215 2.597-.45-.35-1.495-2.692-1.081-2.597.45"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M6.549 3.243a1.5 1.5 0 0 1-.494-.081 1.22 1.22 0 0 1-.826-.991v-.004A1.335 1.335 0 0 1 6.436.76a1.24 1.24 0 0 1 1.464.945 1.16 1.16 0 0 1-.336 1.172c-.283.24-.644.37-1.015.366M5.304 2.16a1.15 1.15 0 0 0 .776.93 1.5 1.5 0 0 0 1.433-.27 1.09 1.09 0 0 0 .313-1.1A1.17 1.17 0 0 0 6.445.835 1.26 1.26 0 0 0 5.304 2.16"
  />
  <path
    fill="#fff"
    fill-rule="evenodd"
    d="M2.039 2.432C2.407 3.87 4.71 3.5 4.623 2.059 4.519.331 1.687.664 2.039 2.432"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M3.268 3.38a1.4 1.4 0 0 1-.673-.163 1.2 1.2 0 0 1-.592-.776 1.2 1.2 0 0 1 .413-1.236 1.56 1.56 0 0 1 1.543-.197 1.17 1.17 0 0 1 .7 1.05 1.265 1.265 0 0 1-1.144 1.305 1.5 1.5 0 0 1-.248.018m-1.193-.956a1.2 1.2 0 0 0 1.429.864 1.193 1.193 0 0 0 1.083-1.227 1.1 1.1 0 0 0-.657-.988 1.48 1.48 0 0 0-1.468.187 1.14 1.14 0 0 0-.387 1.164"
  />
  <path
    fill="#fff"
    fill-rule="evenodd"
    d="M5.592 4.147q.035.342.008.684c-.055.104-.162.115-.255.157a.38.38 0 0 1-.287-.225 5 5 0 0 1 .02-.774z"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M5.35 5.029h-.01a.42.42 0 0 1-.318-.25v-.011a2.6 2.6 0 0 1 .005-.531q.01-.123.016-.25v-.05l.59.18v.03q.002.105.012.221a2 2 0 0 1-.004.47v.006l-.003.005A.33.33 0 0 1 5.43 5l-.067.027zm-.254-.276a.34.34 0 0 0 .244.194l.062-.024a.27.27 0 0 0 .16-.105 2 2 0 0 0 0-.443 4 4 0 0 1-.011-.2l-.437-.135-.014.2a2.5 2.5 0 0 0-.005.513zM2.674 2.618c.215 0 .389-.188.389-.421s-.174-.421-.389-.421-.389.188-.389.421.174.421.389.421"
  />
  <path
    fill="#fff"
    d="M2.851 2.399c.05 0 .091-.048.091-.107 0-.06-.04-.107-.091-.107s-.091.048-.091.107c0 .06.04.107.091.107"
  />
  <path
    fill="#000"
    d="M5.932 2.513c.211 0 .382-.188.382-.421s-.17-.421-.382-.421c-.211 0-.383.188-.383.421s.172.421.383.421"
  />
  <path
    fill="#fff"
    d="M6.106 2.294c.05 0 .09-.048.09-.107 0-.06-.04-.107-.09-.107s-.09.048-.09.107c0 .06.04.107.09.107"
  />
  <path
    fill="#fff"
    fill-rule="evenodd"
    d="M4.48 4.124c-.169.41.095 1.233.555.627a5 5 0 0 1 .021-.775z"
    clip-rule="evenodd"
  />
  <path
    fill="#000"
    d="M4.728 5.007a.23.23 0 0 1-.113-.031.8.8 0 0 1-.17-.867l.007-.018.643-.166v.05q-.005.129-.016.25a2.5 2.5 0 0 0-.005.516v.016l-.01.013c-.132.18-.247.237-.336.237m-.218-.85a.73.73 0 0 0 .144.75c.119.067.25-.05.34-.168a2.7 2.7 0 0 1 .007-.516q.008-.097.013-.195z"
  />
  <path
    fill="#F6D2A2"
    fill-rule="evenodd"
    d="M4.539 3.332a.5.5 0 0 0-.411.7c.218.394.704-.035 1.007.005.35.007.634.369.913.066.311-.337-.134-.666-.482-.812z"
    clip-rule="evenodd"
  />
  <path
    fill="#231F20"
    d="M5.799 4.263a.9.9 0 0 1-.32-.09 1 1 0 0 0-.345-.096h-.005a.9.9 0 0 0-.355.075c-.246.085-.524.181-.68-.1a.48.48 0 0 1 .006-.458.56.56 0 0 1 .435-.3l1.039-.044.008.003c.258.11.553.309.603.542a.42.42 0 0 1-.386.468M5.137 4q.197.017.372.103c.196.083.35.147.51-.025a.29.29 0 0 0 .09-.264c-.044-.2-.322-.385-.55-.482l-1.019.04a.49.49 0 0 0-.37.259.4.4 0 0 0-.008.384c.124.224.35.147.585.065a.95.95 0 0 1 .39-.08"
  />
  <path
    fill="#000"
    fill-rule="evenodd"
    d="M4.499 3.315c-.023-.547 1.021-.615 1.146-.157s-1.093.563-1.144.158z"
    clip-rule="evenodd"
  />
</svg>
