<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Html icon</title>
  <path
    fill="#E14E1D"
    d="M12.25 0h-8.5A3.75 3.75 0 0 0 0 3.75v8.5A3.75 3.75 0 0 0 3.75 16h8.5A3.75 3.75 0 0 0 16 12.25v-8.5A3.75 3.75 0 0 0 12.25 0"
  />
  <path
    fill="#fff"
    d="m3 2.375.538 6.037h6.92l-.233 2.59-2.228.602-2.223-.602-.149-1.662H3.621l.287 3.205 4.089 1.136 4.094-1.136.55-6.13H5.363L5.18 4.372h7.64L13 2.375z"
  />
  <path
    fill="#EBEBEB"
    d="M8 2.375H3l.538 6.037H8V6.416H5.364l-.183-2.044H8zm0 9.228h-.003l-2.223-.6-.149-1.663H3.621l.287 3.205 4.089 1.136L8 13.68z"
  />
</svg>
