<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Nextjs icon</title>
  <path fill="#000" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
  <path
    fill="url(#nextjs-a)"
    d="M13.29 14.002 6.146 4.8H4.8v6.397h1.077v-5.03l6.567 8.486q.445-.298.846-.651"
  />
  <path fill="url(#nextjs-b)" d="M10.222 4.8h1.067v6.4h-1.067z" />
  <defs>
    <linearGradient
      id="nextjs-a"
      x1="9.689"
      x2="12.845"
      y1="10.356"
      y2="14.267"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#fff" />
      <stop offset="1" stop-color="#fff" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="nextjs-b"
      x1="10.755"
      x2="10.738"
      y1="4.8"
      y2="9.5"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#fff" />
      <stop offset="1" stop-color="#fff" stop-opacity="0" />
    </linearGradient>
  </defs>
</svg>
