<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Nodejs icon</title>
  <path
    fill="url(#nodejs-a)"
    d="M8.37.103a.76.76 0 0 0-.755 0L1.388 3.72a.74.74 0 0 0-.37.655v7.249c0 .267.148.52.37.654l6.227 3.617a.76.76 0 0 0 .755 0l6.227-3.617a.74.74 0 0 0 .37-.655V4.375a.78.78 0 0 0-.37-.655z"
  />
  <path
    fill="url(#nodejs-b)"
    d="M14.612 3.72 8.355.103A1 1 0 0 0 8.163.03L1.15 12.099a.8.8 0 0 0 .207.18l6.258 3.616a.72.72 0 0 0 .576.075l6.583-12.116a.5.5 0 0 0-.163-.134"
  />
  <path
    fill="url(#nodejs-c)"
    d="M14.612 12.278a.85.85 0 0 0 .37-.476L8.133.014a.75.75 0 0 0-.532.089L1.388 3.705l6.7 12.294c.09-.015.193-.045.282-.09z"
  />
  <defs>
    <linearGradient
      id="nodejs-a"
      x1="10.529"
      x2="4.841"
      y1="2.797"
      y2="14.327"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#3F873F" />
      <stop offset=".33" stop-color="#3F8B3D" />
      <stop offset=".637" stop-color="#3E9638" />
      <stop offset=".934" stop-color="#3DA92E" />
      <stop offset="1" stop-color="#3DAE2B" />
    </linearGradient>
    <linearGradient
      id="nodejs-b"
      x1="7.046"
      x2="22.915"
      y1="8.846"
      y2="-2.806"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset=".138" stop-color="#3F873F" />
      <stop offset=".402" stop-color="#52A044" />
      <stop offset=".713" stop-color="#64B749" />
      <stop offset=".908" stop-color="#6ABF4B" />
    </linearGradient>
    <linearGradient
      id="nodejs-c"
      x1=".79"
      x2="15.2"
      y1="7.997"
      y2="7.997"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset=".092" stop-color="#6ABF4B" />
      <stop offset=".287" stop-color="#64B749" />
      <stop offset=".598" stop-color="#52A044" />
      <stop offset=".862" stop-color="#3F873F" />
    </linearGradient>
  </defs>
</svg>
