<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Pnpm icon</title>
  <path fill="#F8AB00" d="M0 0v5h5V0zm5.5 0v5h5V0zM11 0v5h5V0zm0 5.5v5h5v-5z"
  ></path>
  <path
    fill="#4C4C4C"
    d="M5.5 5.5v5h5v-5zM0 11v5h5v-5zm5.5 0v5h5v-5zm5.5 0v5h5v-5z"></path>
</svg>
