<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Sass icon</title>
  <path
    fill="#CD6799"
    d="M8.086 9.35c-.24.11-.504.255-1.032.544-.2.113-.409.225-.603.331l-.041-.044c-1.044-1.115-2.974-1.903-2.892-3.4.03-.546.218-1.978 3.707-3.717 2.87-1.415 5.155-1.023 5.55-.153.567 1.239-1.225 3.546-4.19 3.88a2.24 2.24 0 0 1-1.875-.474c-.157-.17-.18-.18-.239-.146-.095.05-.034.204 0 .293a1.75 1.75 0 0 0 1.07.842 5.7 5.7 0 0 0 3.479-.345c1.797-.695 3.2-2.629 2.789-4.25-.413-1.643-3.14-2.185-5.722-1.268a13 13 0 0 0-4.395 2.523c-1.422 1.33-1.647 2.486-1.555 2.97.331 1.719 2.7 2.837 3.65 3.665l-.13.072c-.473.236-2.28 1.18-2.73 2.179-.512 1.132.081 1.944.473 2.053a2.915 2.915 0 0 0 3.14-1.272 3.15 3.15 0 0 0 .28-2.9q.168-.135.358-.239c.242-.143.473-.284.677-.393a5.25 5.25 0 0 1 2.238-.494c1.623.19 1.943 1.203 1.882 1.63a1.08 1.08 0 0 1-.515.729c-.113.072-.15.096-.14.147.013.075.068.071.163.058a1.27 1.27 0 0 0 .883-1.129c.05-1-.903-2.097-2.591-2.087a3.9 3.9 0 0 0-1.692.394zm-2.413 3.92c-.539.586-1.289.808-1.613.62-.35-.2-.211-1.068.45-1.688a8.5 8.5 0 0 1 1.265-.944c.079-.05.195-.116.334-.2l.038-.021.082-.05a2.33 2.33 0 0 1-.556 2.283"
  />
</svg>
