<svg
  xmlns="http://www.w3.org/2000/svg"
  width="17"
  height="16"
  fill="none"
  viewBox="0 0 17 16"
>
  <title>Solidjs icon</title>
  <path
    fill="#76B3E1"
    d="M16.667 3.71S11.333-.214 7.207.692l-.301.1c-.604.201-1.107.503-1.41.906l-.2.302-1.51 2.616 2.616.503c1.107.705 2.516 1.006 3.824.705l4.63.905z"
  />
  <path
    fill="url(#a)"
    d="M16.667 3.71S11.333-.214 7.207.692l-.301.1c-.604.201-1.107.503-1.41.906l-.2.302-1.51 2.616 2.616.503c1.107.705 2.516 1.006 3.824.705l4.63.905z"
    opacity=".3"
  />
  <path
    fill="#518AC8"
    d="m5.497 3.71-.403.101c-1.71.503-2.214 2.113-1.308 3.522 1.006 1.308 3.12 2.013 4.83 1.51l6.24-2.114S9.521 2.805 5.496 3.71"
  />
  <path
    fill="url(#b)"
    d="m5.497 3.71-.403.101c-1.71.503-2.214 2.113-1.308 3.522 1.006 1.308 3.12 2.013 4.83 1.51l6.24-2.114S9.521 2.805 5.496 3.71"
    opacity=".3"
  />
  <path
    fill="url(#c)"
    d="M13.749 8.239a4.53 4.53 0 0 0-4.83-1.51l-6.24 2.013-2.012 3.522 11.27 1.912 2.013-3.623c.402-.704.302-1.51-.201-2.314"
  />
  <path
    fill="url(#d)"
    d="M11.736 11.76a4.53 4.53 0 0 0-4.83-1.509l-6.24 2.013s5.334 4.025 9.46 3.019l.302-.101c1.71-.503 2.314-2.113 1.308-3.421"
  />
  <defs>
    <linearGradient
      id="a"
      x1="3.031"
      x2="15.56"
      y1=".49"
      y2="6.578"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset=".1" stop-color="#76B3E1" />
      <stop offset=".3" stop-color="#DCF2FD" />
      <stop offset="1" stop-color="#76B3E1" />
    </linearGradient>
    <linearGradient
      id="b"
      x1="9.904"
      x2="7.711"
      y1="3.469"
      y2="10.774"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#76B3E1" />
      <stop offset=".5" stop-color="#4377BB" />
      <stop offset="1" stop-color="#1F3B77" />
    </linearGradient>
    <linearGradient
      id="c"
      x1="2.116"
      x2="14.785"
      y1="6.649"
      y2="15.262"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#315AA9" />
      <stop offset=".5" stop-color="#518AC8" />
      <stop offset="1" stop-color="#315AA9" />
    </linearGradient>
    <linearGradient
      id="d"
      x1="7.832"
      x2="2.72"
      y1="7.685"
      y2="26.432"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#4377BB" />
      <stop offset=".5" stop-color="#1A336B" />
      <stop offset="1" stop-color="#1A336B" />
    </linearGradient>
  </defs>
</svg>
