<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>SQLite icon</title>
  <path
    fill="#0B7FCC"
    d="m8.688 12.397-.012-.15S8.4 10.386 8.07 9.83c-.051-.088.006-.449.151-.985.085.146.443.774.515.976.08.229.097.294.097.294s-.196-1.01-.518-1.6q.118-.394.25-.783c.123.214.415.732.48.913l.033.096.01-.051c-.074-.313-.22-.858-.418-1.26.44-2.292 1.942-5.354 3.48-6.72H2.113C1.439.71.889 1.26.889 1.934v11.071c0 .673.55 1.224 1.224 1.224h6.612q-.075-.915-.037-1.832"
  ></path>
  <path
    fill="url(#sqlite-a)"
    d="M8.222 8.845c.085.146.443.774.515.976.08.228.097.294.097.294s-.196-1.01-.518-1.6q.118-.394.25-.784c.112.196.366.647.457.86l.01-.12a6 6 0 0 0-.362-1.042c.406-2.109 1.71-4.871 3.116-6.362H2.112a.87.87 0 0 0-.866.867v10.263c2.19-.841 4.833-1.61 7.106-1.576-.084-.326-.18-.62-.28-.79-.053-.09.005-.45.15-.986"
  ></path>
  <path
    fill="#003956"
    d="M14.494.348c-.688-.614-1.52-.367-2.342.362a6 6 0 0 0-.364.357C10.382 2.558 9.078 5.32 8.672 7.43c.158.32.281.73.362 1.041l.055.22c.036.15.055.249.055.249s-.013-.048-.065-.198l-.033-.096-.022-.055a12 12 0 0 0-.457-.858c-.095.281-.18.545-.25.783.322.59.518 1.6.518 1.6s-.017-.066-.098-.294c-.072-.202-.43-.83-.514-.976-.146.535-.203.897-.151.985.101.17.197.466.281.79.19.734.323 1.627.323 1.627l.012.15q-.038.916.037 1.832c.063.763.182 1.42.333 1.771l.104-.056c-.223-.692-.313-1.6-.274-2.645.06-1.599.428-3.526 1.107-5.536 1.15-3.033 2.743-5.467 4.2-6.63-1.329 1.201-3.127 5.086-3.666 6.525-.602 1.612-1.03 3.123-1.288 4.572.444-1.358 1.881-1.941 1.881-1.941s.705-.87 1.529-2.111c-.494.113-1.304.305-1.575.419-.4.168-.508.225-.508.225s1.296-.79 2.408-1.147c1.53-2.408 3.196-5.83 1.518-7.327"
  ></path>
  <defs>
    <linearGradient
      id="sqlite-a"
      x1="7.324"
      x2="7.324"
      y1="1.294"
      y2="11.578"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#95D7F4"></stop>
      <stop offset=".92" stop-color="#0F7FCC"></stop>
      <stop offset="1" stop-color="#0F7FCC"></stop>
    </linearGradient>
  </defs>
</svg>
