<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>TailwindCss icon</title>
  <path
    fill="#38BDF8"
    d="M8 3.2q-3.2 0-4 3.2 1.2-1.6 2.8-1.2c.61.152 1.044.594 1.526 1.083C9.11 7.079 10.018 8 12.001 8q3.2 0 4-3.2-1.2 1.6-2.8 1.2c-.61-.152-1.044-.593-1.526-1.082C10.89 4.122 9.983 3.2 8 3.2M4 8Q.8 8 0 11.2 1.2 9.6 2.8 10c.61.152 1.044.593 1.526 1.082C5.11 11.878 6.018 12.8 8 12.8q3.2 0 4-3.2-1.2 1.599-2.8 1.2c-.608-.152-1.043-.594-1.525-1.083C6.89 8.921 5.983 8 4 8"
  />
</svg>
