<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Typescript icon</title>
  <path fill="#fff" d="M2.834 5.875h12.459v9.209H2.832z" />
  <path
    fill="#007ACC"
    d="M.188 7.989V15.8h15.625V.176H.188zm12.59-.625c.375.087.715.282.978.562q.218.228.375.5c0 .02-.675.477-1.086.732-.015.01-.075-.055-.141-.154a.89.89 0 0 0-.734-.441c-.474-.033-.779.216-.776.625a.6.6 0 0 0 .067.292c.104.216.298.345.905.607 1.119.482 1.598.8 1.895 1.25.333.5.407 1.308.182 1.906-.25.65-.863 1.09-1.73 1.237a4.8 4.8 0 0 1-1.19-.013 2.88 2.88 0 0 1-1.59-.828c-.143-.159-.423-.573-.405-.603q.068-.05.143-.091l.579-.32.449-.26.094.139c.158.226.36.419.592.567.5.263 1.183.226 1.52-.077a.68.68 0 0 0 .086-.865c-.125-.174-.375-.32-1.073-.625-.807-.348-1.154-.563-1.472-.905a2.1 2.1 0 0 1-.428-.781 3.1 3.1 0 0 1-.028-1c.166-.78.75-1.323 1.602-1.484a4 4 0 0 1 1.187.032zm-3.667.655v.64H7.082v5.778H5.645v-5.78H3.61v-.624a6 6 0 0 1 .015-.647c.01-.011 1.25-.011 2.75-.011h2.729z"
  />
</svg>
