<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Vite icon</title>
  <path
    fill="url(#vite-a)"
    d="m14.942 3.073-6.571 11.75a.356.356 0 0 1-.622.002L1.048 3.075a.357.357 0 0 1 .373-.528l6.578 1.176a.4.4 0 0 0 .127 0l6.44-1.174a.357.357 0 0 1 .376.525"
  ></path>
  <path
    fill="url(#vite-b)"
    d="m11.132 1.004-4.862.952a.18.18 0 0 0-.144.165l-.299 5.052a.178.178 0 0 0 .218.185L7.4 7.045a.18.18 0 0 1 .215.21l-.402 1.97a.178.178 0 0 0 .227.206l.836-.254a.18.18 0 0 1 .227.207l-.64 3.093c-.04.194.218.3.325.134l.072-.111 3.963-7.907a.178.178 0 0 0-.194-.255l-1.394.268a.18.18 0 0 1-.204-.225l.909-3.153a.18.18 0 0 0-.207-.225"
  ></path>
  <defs>
    <linearGradient
      id="vite-a"
      x1=".884"
      x2="9.062"
      y1="2.125"
      y2="13.231"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#41D1FF"></stop>
      <stop offset="1" stop-color="#BD34FE"></stop>
    </linearGradient>
    <linearGradient
      id="vite-b"
      x1="7.621"
      x2="9.1"
      y1="1.262"
      y2="11.41"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#FFEA83"></stop>
      <stop offset=".083" stop-color="#FFDD35"></stop>
      <stop offset="1" stop-color="#FFA800"></stop>
    </linearGradient>
  </defs>
</svg>
