<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="none"
  viewBox="0 0 16 16"
>
  <title>Vitest icon</title>
  <path
    fill="#FCC72B"
    d="m12.007 5.103-3.825 5.53a.33.33 0 0 1-.542 0 .33.33 0 0 1-.057-.201l.154-3.053-2.472-.524a.33.33 0 0 1-.258-.357.3.3 0 0 1 .056-.149L8.888.82a.329.329 0 0 1 .6.2l-.154 3.054 2.472.524a.33.33 0 0 1 .256.277.33.33 0 0 1-.055.229"
  ></path>
  <path
    fill="#729B1B"
    d="M8.002 15.273a.78.78 0 0 1-.548-.227L3.84 11.432a.774.774 0 0 1 1.095-1.095l3.067 3.066 6.68-6.68a.774.774 0 1 1 1.095 1.095L8.55 15.046a.77.77 0 0 1-.547.227"
  ></path>
  <path
    fill="#729B1B"
    fill-opacity=".5"
    d="M7.998 15.273a.78.78 0 0 0 .548-.227l3.614-3.614a.774.774 0 0 0-1.095-1.095l-3.067 3.066-6.68-6.68A.774.774 0 0 0 .221 7.818l7.229 7.228a.77.77 0 0 0 .547.227"
  ></path>
</svg>
