---
import CursorDots from "./cursorDots";
import Header from "./header.astro";
---

<div
  id="window"
  class="window delay-before-window duration-window-in"
>
  <Header />
  <div class="overflow-y-scroll" id="app-window-scrollable">
    <div class="relative dots-bg">
      <slot />
      <CursorDots client:idle />
    </div>
  </div>
</div>

<style>
  .window {
    @apply bg-white fixed grid overflow-hidden;
    @apply top-1/2 left-1/2;

    animation-name: window-in;
    animation-timing-function: cubic-bezier(0.21, 0.65, 0.43, 1.15);
    animation-fill-mode: forwards;
    transform: scale(0) translate(-50%, -50%);

    border-radius: 15px;
    transform-origin: 0% -50%;

    width: var(--window-width);
    height: var(--window-height);
    max-width: var(--window-max-width);
    max-height: var(--window-max-height);

    grid-template-rows: var(--window-header-height) 1fr;
  }

  @media (prefers-reduced-motion: reduce) {
    .window {
      animation: none;
      transform: scale(1) translate(-50%, -50%);
    }
  }

  .dots-bg {
    @apply h-max overflow-x-hidden bg-repeat bg-scroll;
    background-image: radial-gradient(
      rgba(216, 217, 217, 0.4) 5%,
      transparent 0%
    );
    background-size: 50px 50px;
    padding: var(--window-content-padding);
  }

  @keyframes window-in {
    0% {
      transform: scale(0) translate(-50%, -50%);
    }
    100% {
      transform: scale(1) translate(-50%, -50%);
    }
  }
</style>

<style is:global>
  :root {
    --window-header-height: 48px;
    --window-width: calc(100vw - 20px);
    /* --window-width: calc((90vh - 20px) * 16 / 9); */
    --window-height: calc(90vh - 20px);
    /* --window-max-width: 1280px; */
    /* --window-max-height: 720px; */

    --window-content-padding: 4px;

    --window-content-height: calc(
      var(--window-height) - var(--window-header-height) -
        var(--window-content-padding) * 2
    );
  }

  @media screen and (min-width: 640px) {
    :root {
      /* --window-width: calc((100vh - 80px) * 16 / 9); */
      --window-width: calc(100vw - 80px);
      --window-height: calc(100vh - 80px);
      /* --window-max-width: 1280px; */
      /* --window-max-height: 720px; */
      --window-content-padding: 24px;
    }
  }

  @media screen and (min-height: 1000px) {
    :root {
      --window-max-height: none;
    }
  }


</style>
