---
import Button, { BtnSize } from "$common/button.svelte";
import CommentParagraph from "$common/comment-paragraph.svelte";
import Section from "$common/section.svelte";
import AboutHeading from "./about-heading.svelte";
import { GITHUB_URL, SELF_DESCIRPTION } from "@repo/content";

const paragraphs = SELF_DESCIRPTION.FULL.split("\n");
---

<Section
  id="about"
  ariaLabel="About me"
  class="flex w-full flex-col items-center"
>
  <AboutHeading />

  {
    paragraphs.map((p, idx) => (
      <CommentParagraph
        class="animate-left-scale-glitch-in mt-4 will-change-transform backface-hidden"
        delay={`calc(var(--delay-about) + ${100 + idx * 50}ms)`}
      >
        {p}
      </CommentParagraph>
    ))
  }

  <div class="mt-12 flex items-center justify-center gap-4">
    <Button class="delay-about-450" size={BtnSize.Base} href={GITHUB_URL}
      >Github</Button
    >
    <Button class="delay-about-400" size={BtnSize.Base} href="/cv.pdf"
      >Resumé</Button
    >
  </div>
</Section>
