---
interface Props {
  href?: string;
  class?: string;
  ariaLabel?: string;
}

const {
  href,
  class: className,
  ariaLabel,
} = Astro.props;
---

{
  href ? (
    <a
      aria-label={ariaLabel}
      href={href}
      class:list={["btn", className]}
      rel="noopener noreferrer"
      target="_blank"
    >
      <slot />
    </a>
  ) : (
    <button aria-label={ariaLabel} class:list={["btn", className]}>
      <slot />
    </button>
  )
}

<style>
  .btn {
    @apply relative py-2 text-dark-text px-4 z-10;
  }

  .btn:hover::after {
    @apply translate-x-0.5 -translate-y-0.5;
  }
  .btn:hover::before {
    @apply -translate-x-0.5 translate-y-0.5;
  }

  .btn::before {
    content: "";
    z-index: 1;
    @apply absolute top-0 left-0 w-full h-full border border-dark rounded;
    @apply translate-x-0.5 -translate-y-0.5 transition-transform;
  }

  .btn::after {
    content: "";
    z-index: -1;

    @apply absolute top-0 left-0 w-full h-full bg-accent-300 rounded;
    @apply -translate-x-0.5 translate-y-0.5 transition-transform;
  }
</style>
