---
import Blurhash from "$common/blurhash.svelte";
import { Picture } from "astro:assets";

interface Props {
  class?: string;
  src: string;
  href: string;
  blurhash: string;
  delay?: string;
}
const { class: className, src, blurhash, href, delay } = Astro.props;

// TODO: alias this
const allImages = import.meta.glob(
  "../../../../packages/content/src/projects/entries/**/*.png",
);
const imgMap: Record<string, () => Promise<{ default: ImageMetadata }>> = {};
Object.entries(allImages).map(([key, val]) => {
  imgMap[key.split("/").slice(-3).join("/")] = val as () => Promise<{
    default: ImageMetadata;
  }>;
});
---

<div
  class:list={[
    "aspect-ratio-video bg-secondary-400 border-secondary-400 animate-center-scale-in relative w-full border",
    className,
  ]}
  style={delay
    ? {
        "--delay": delay,
      }
    : undefined}
>
  {
    (
      <a rel="external noreferrer noopener" target="_blank" href={href}>
        <Picture
          class="project-preivew-img relative z-10 size-full object-cover"
          fit={"cover"}
          src={imgMap[src]()}
          inferSize={true}
          formats={["avif", "webp", "jpg"]}
          alt="Project preview"
          layout="constrained"
          onload="() => isState = true"
        />
        <Blurhash
          client:visible
          hash={blurhash}
          class="absolute top-0 left-0 size-full"
        />
      </a>
    )
  }
</div>

<script>
  const imgs = document.querySelectorAll(".project-preivew-img");
  for (const imgEl of imgs) {
    if (imgEl instanceof HTMLElement) {
      imgEl.onload = () => {
        imgEl.parentElement?.classList.add("animate-img-glitch-in");
      };
    }
  }
</script>
