@media (prefers-reduced-motion: no-preference) {
  .animate-img-glitch-in {
    img {
      opacity: 0;
      animation: anim-img-glitch-3-in var(--duration-anim-img-glitch-3-in) 0.3s
        ease 1 forwards;
    }

    &::after {
      content: "";
      position: absolute;
      top: 70%;
      left: -2%;
      width: 70%;
      height: 40px;
      background-color: var(--colors-base-DEFAULT);
      z-index: 90;

      opacity: 0;
      animation: anim-img-glitch-1-in var(--duration-anim-img-glitch-1-in) 0.35s
        ease 1 forwards;
    }

    &::before {
      content: "";
      position: absolute;
      top: 25%;
      left: 12%;
      width: 90%;
      height: 12px;
      background-color: var(--colors-base-DEFAULT);
      z-index: 90;

      opacity: 0;
      animation: anim-img-glitch-2-in var(--duration-anim-img-glitch-2-in) 0.3s
        ease 1 forwards;
    }
  }

  @anim-step line-1-none {
    opacity: 0;
  }

  @anim-step line-1-1 {
    opacity: 1;
    top: 70%;
    left: -2%;
    width: 70%;
    height: 40px;
  }

  @anim-step line-1-1-2 {
    opacity: 1;
    top: 68%;
    left: -2%;
    width: 70%;
    height: 40px;
  }

  @anim-step line-1-2 {
    opacity: 1;
    top: 10%;
    left: 62%;
    width: 40%;
    height: 30px;
  }

  @anim-step line-1-2-2 {
    opacity: 1;
    top: 10%;
    left: 60%;
    width: 40%;
    height: 30px;
  }

  @anim anim-img-glitch-1-in {
    @use-step line-1-1, 0.04s;
    @use-step line-1-1-2, 0.05s;
    @use-step line-1-1, 0.05s, 0.03s;
    @use-step line-1-2, 0.01s;
    @use-step line-1-2-2, 0.05s;
    @use-step line-1-2, 0.05s, 0.03s;
    @use-step line-1-none, 0.01s, 0.05s;
  }

  /* as */

  @anim-step line-2-none {
    opacity: 0;
  }

  @anim-step line-2-1 {
    opacity: 1;
    top: 25%;
    left: 10%;
    width: 90%;
    height: 12px;
  }

  @anim-step line-2-1-2 {
    opacity: 1;
    top: 25%;
    left: 12%;
    width: 90%;
    height: 12px;
  }

  @anim-step line-2-2 {
    opacity: 1;
    top: 55%;
    left: -2%;
    width: 65%;
    height: 8px;
  }

  @anim-step line-2-2-2 {
    opacity: 1;
    top: 88%;
    left: -2%;
    width: 65%;
    height: 8px;
  }

  @anim anim-img-glitch-2-in {
    @use-step line-2-1, 0.04s;
    @use-step line-2-1-2, 0.05s;
    @use-step line-2-1, 0.05, 0.03s;
    @use-step line-2-2, 0.01s;
    @use-step line-2-2-2, 0.04s;
    @use-step line-2-2, 0.04s, 0.03s;
    @use-step line-2-none, 0.01s, 0.05s;
  }

  /*  skew */

  @anim anim-img-glitch-3-in {
    @step 0.06s {
      opacity: 1;
    }
  }
}
