@media (prefers-reduced-motion: no-preference) {
  .animate-top-slide-in {
    --anim-in-from: -10px;
    animation: anim-top-slide-in 0.25s var(--delay, 0s) ease 1 forwards;
    opacity: 0;
  }

  @keyframes anim-top-slide-in {
    from {
      opacity: 0;
      transform: translateY(var(--anim-in-from, -3%));
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .line-anim {
    animation: anim-p-in var(--duration-anim-p-in) var(--delay, 0s) ease 1
      forwards;
    opacity: 0;
    transform: scaleX(1);
    transform-origin: left center;
  }

  @anim anim-p-in {
    @step 0s {
      opacity: 0;
      transform: scaleX(0);
    }
    @step 0.05s {
      opacity: 1;
      transform: scaleX(0.4);
    }
    @step 0.1s {
      opacity: 0;
    }
    @step 0.05s {
      opacity: 0.4;
    }
    @step 0.05s {
      opacity: 0;
      transform: scaleX(1);
    }
    @step 0.1s {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}
