@media (prefers-reduced-motion: no-preference) {
  .animate-text-glitch-in {
    position: relative;
    animation: anim-text-skew-in var(--duration-anim-text-skew-in)
      var(--delay, 0s) ease 1 forwards;
    opacity: 0;

    &::after {
      content: attr(data-text);
      top: 0;
      left: 0;
      position: absolute;
      width: inherit;
      height: 100%;
      background-color: var(--colors-base-DEFAULT);

      --dur: var(--duration-anim-text-glitch);
      animation:
        anim-text-glitch var(--dur) calc(var(--delay) + 0.3s) ease 1 forwards,
        anim-text-glitch var(--dur) calc(var(--delay) + var(--dur) + 0.9s) ease
          1 forwards reverse;
    }
  }

  /* Skew animation */

  @anim-step skew-base {
    opacity: 1;
    transform: skew(0deg, 0deg) scale(1, 1);
  }

  @anim-step skew-start {
    opacity: 1;
    transform: skew(-83deg, 0deg) scale(1, 1.2);
  }

  @anim-step skew-left-big {
    opacity: 1;
    transform: skew(84deg, 1deg) scale(1, 1);
  }

  @anim-step skew-left-small {
    opacity: 1;
    transform: skew(-14deg, 0deg) scale(1, 1);
  }

  @anim-step skew-right-small {
    opacity: 1;
    transform: skew(13deg, 0deg) scale(1, 1);
  }

  @anim anim-text-skew-in {
    @use-step skew-start, 0s, 0.04s;
    @use-step skew-base, 0.04s, 0.2s;
    @use-step skew-right-small, 0.04s;
    @use-step skew-base, 0.03s, 0.25s;
    @use-step skew-left-small, 0.04s;
    @use-step skew-left-big, 0.03s;
    @use-step skew-left-small, 0.04s;
    @use-step skew-base, 0.03s;
  }
}
