@media (prefers-reduced-motion: no-preference) {
  .animate-img-glitch-in {
    img {
      opacity: 0;
      animation: anim_img_glitch_3_in var(--duration_anim_img_glitch_3_in) 0.3s
        ease 1 forwards;
    }

    &::after {
      content: "";
      position: absolute;
      top: 70%;
      left: -2%;
      width: 70%;
      height: 40px;
      background-color: var(--colors-base-DEFAULT);
      z-index: 90;

      opacity: 0;
      animation: anim_img_glitch_1_in var(--duration_anim_img_glitch_1_in) 0.35s
        ease 1 forwards;
    }

    &::before {
      content: "";
      position: absolute;
      top: 25%;
      left: 12%;
      width: 90%;
      height: 12px;
      background-color: var(--colors-base-DEFAULT);
      z-index: 90;

      opacity: 0;
      animation:
        anim_img_glitch_2_in var(--duration_anim_img_glitch_2_in) 0.3s ease 1
          forwards;
    }
  }

  @anim-step line_1_none {
    opacity: 0;
  }

  @anim-step line_1_1 {
    opacity: 1;
    top: 70%;
    left: -2%;
    width: 70%;
    height: 40px;
  }

  @anim-step line_1_1_2 {
    opacity: 1;
    top: 68%;
    left: -2%;
    width: 70%;
    height: 40px;
  }

  @anim-step line_1_2 {
    opacity: 1;
    top: 10%;
    left: 62%;
    width: 40%;
    height: 30px;
  }

  @anim-step line_1_2_2 {
    opacity: 1;
    top: 10%;
    left: 60%;
    width: 40%;
    height: 30px;
  }

  @timed-anim anim_img_glitch_1_in {
    line_1_1: 0.04s;
    line_1_1_2: 0.05s;
    line_1_1: 0.05s, 0.03s;
    /* line_1_none: 0.01s, 0.05s; */
    line_1_2: 0.01s;
    line_1_2_2: 0.05s;
    line_1_2: 0.05s, 0.03s;
    line_1_none: 0.01s, 0.05s;
  }

  /* as */

  @anim-step line_2_none {
    opacity: 0;
  }

  @anim-step line_2_1 {
    opacity: 1;
    top: 25%;
    left: 10%;
    width: 90%;
    height: 12px;
  }

  @anim-step line_2_1_2 {
    opacity: 1;
    top: 25%;
    left: 12%;
    width: 90%;
    height: 12px;
  }

  @anim-step line_2_2 {
    opacity: 1;
    top: 55%;
    left: -2%;
    width: 65%;
    height: 8px;
  }

  @anim-step line_2_2_2 {
    opacity: 1;
    top: 88%;
    left: -2%;
    width: 65%;
    height: 8px;
  }

  @timed-anim anim_img_glitch_2_in {
    line_2_1: 0.04s;
    line_2_1_2: 0.05s;
    line_2_1: 0.05, 0.03s;
    /* line_2_none: 0.01s, 0.05s; */
    line_2_2: 0.01s;
    line_2_2_2: 0.04s;
    line_2_2: 0.04s, 0.03s;
    line_2_none: 0.01s, 0.05s;
  }

  /*  skew */

  @anim-step img_1 {
    opacity: 1;
  }

  @timed-anim anim_img_glitch_3_in {
    img_1: 0.06s;
  }
}
