@media (prefers-reduced-motion: no-preference) {
  .animate-left-scale-glitch-in {
    animation: anim-l-scale-glitch-in var(--duration-anim-l-scale-glitch-in)
      var(--delay, 0s) ease 1 forwards;
    opacity: 0;
    transform: scaleX(1);
    transform-origin: left center;
  }

  @anim anim-l-scale-glitch-in {
    @step 0s {
      opacity: 0;
      transform: scaleX(0);
    }
    @step 0.05s {
      opacity: 1;
      transform: scaleX(0.4);
    }
    @step 0.1s {
      opacity: 0;
    }
    @step 0.05s {
      opacity: 0.4;
    }
    @step 0.05s {
      opacity: 0;
      transform: scaleX(1);
    }
    @step 0.1s {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}
