@media (prefers-reduced-motion: no-preference) {
  .animate-center-scale-in {
    animation: anim-center-scale-in 0.2s var(--delay, 0s) ease 1 forwards;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center;
  }

  @keyframes anim-center-scale-in {
    from {
      opacity: 0;
      transform: scaleY(0);
    }
    to {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
