@media (prefers-reduced-motion: no-preference) {
  .animate-blink-in {
    animation: anim-blink-in 1.1s var(--delay, 0s) ease 1 forwards;
    opacity: 0;
  }

  @anim-step blink-op-0 {
    opacity: 0;
  }

  @anim-step blink-op-1 {
    opacity: 0.3;
  }

  @anim-step blink-op-2 {
    opacity: 0.6;
  }

  @anim-step blink-op-full {
    opacity: 1;
  }

  @anim anim-blink-in {
    @use-step blink-op-1, 0.2s;
    @use-step blink-op-0, 0.15s;
    @use-step blink-op-2, 0.2s;
    @use-step blink-op-0, 0.15s, 0.05s;
    @use-step blink-op-full, 0.3s;
  }
}
